@font-face {
  font-family: 'iconfont'; /* Project id 4421375 */
  src: url('https://at.alicdn.com/t/c/font_4421375_dyc665x2v5.woff2?t=1722584955427')
      format('woff2'),
    url('https://at.alicdn.com/t/c/font_4421375_dyc665x2v5.woff?t=1722584955427')
      format('woff'),
    url('https://at.alicdn.com/t/c/font_4421375_dyc665x2v5.ttf?t=1722584955427')
      format('truetype'),
    url('https://at.alicdn.com/t/c/font_4421375_dyc665x2v5.svg?t=1722584955427#iconfont')
      format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-qiyeguanli-lan:before {
  content: '\e61f';
}

.icon-icon-jianceyujingguanli-lan:before {
  content: '\e620';
}

.icon-icon-yonghuguanli-hui:before {
  content: '\e621';
}

.icon-icon-yingjiguanli-lan:before {
  content: '\e622';
}

.icon-icon-yingjiguanli-hui:before {
  content: '\e624';
}

.icon-icon-fengxianguankong-lan:before {
  content: '\e625';
}

.icon-icon-fengxianguankong-hui:before {
  content: '\e627';
}

.icon-icon-yinhuanguanli-lan:before {
  content: '\e628';
}

.icon-icon-yinhuanguanli-hui:before {
  content: '\e629';
}

.icon-icon-qiyeguanli-hui:before {
  content: '\e62a';
}

.icon-icon-anquanguanli-lan:before {
  content: '\e62b';
}

.icon-icon-yonghuguanli-lan:before {
  content: '\e62c';
}

.icon-icon-gongzuotai-lan:before {
  content: '\e616';
}

.icon-icon-anquanguanli-hui:before {
  content: '\e617';
}

.icon-icon-xiaoxitongzhizhongxin-lan:before {
  content: '\e618';
}

.icon-icon-gongzuotai-hui:before {
  content: '\e61a';
}

.icon-icon-xiaoxitongzhizhongxin-hui:before {
  content: '\e61d';
}

.icon-icon-jianceyujingguanli-hui:before {
  content: '\e61e';
}

.icon-icon-anquantaishidashuju:before {
  content: '\e614';
}

.icon-icon-zhinengjiancechuzhizhongxin:before {
  content: '\e615';
}

.icon-icon-yinhuanzhili:before {
  content: '\e612';
}

.icon-icon-fengxianbianshiyuguankong:before {
  content: '\e613';
}

.icon-refresh-icon:before {
  content: '\e60c';
}

.icon-icon-yinhuanpaicha:before {
  content: '\e610';
}

.icon-icon-teshuzuoye:before {
  content: '\e609';
}

.icon-jihua:before {
  content: '\e604';
}

.icon-shujuweihu:before {
  content: '\e619';
}

.icon-thin-_notebook_to_do_bullets_list:before {
  content: '\ee0f';
}

.icon-fengxianchuzhichaxun:before {
  content: '\e65b';
}

.icon-fengxianbianshiguankong:before {
  content: '\e650';
}

.icon-guankongchuli:before {
  content: '\e611';
}

.icon-zhipingguanli:before {
  content: '\e686';
}

.icon-butongguo:before {
  content: '\e6cd';
}

.icon-liuliangjiance:before {
  content: '\e61c';
}

.icon-tianqijiance:before {
  content: '\e63b';
}

.icon-jianceyujing1:before {
  content: '\e65a';
}

.icon-a-2-1yujing-jianceyujing:before {
  content: '\e685';
}

.icon-xiaoxizhongxin:before {
  content: '\e868';
}

.icon-navicon-yhgl:before {
  content: '\e641';
}

.icon-chengyuanyonghuguanli:before {
  content: '\e603';
}

.icon-xiaoxizhongxin1:before {
  content: '\e66b';
}

.icon-yonghuguanli:before {
  content: '\e681';
}

.icon-jianceyujing:before {
  content: '\e72a';
}

.icon-a-yingyongjianceyujingxitongshouyetubiao_1:before {
  content: '\e66c';
}

.icon-morentouxiang:before {
  content: '\e62f';
}

.icon-gongsi:before {
  content: '\e623';
}

.icon-a-lujing1:before {
  content: '\e601';
}

.icon-quanbuzhankai:before {
  content: '\e60b';
}

.icon-zuidahua1:before {
  content: '\e60d';
}

.icon-wuxiaoxi:before {
  content: '\e74a';
}

.icon-fengxianpinggu-red:before {
  content: '\fdad';
}

.icon-fengxianpinggu-yellow:before {
  content: '\fdae';
}

.icon-fengxianpinggu-orange:before {
  content: '\fdaf';
}

.icon-fengxianpinggu-blue:before {
  content: '\fdac';
}

.icon-icon-linshiyongdiananquanzuoye:before {
  content: '\e60f';
}

.icon-quxiaoquanping_o:before {
  content: '\eb98';
}

.icon-dengchu_o:before {
  content: '\ebcc';
}

.icon-quanping:before {
  content: '\e626';
}

.icon-fengxianguankongzhihang:before {
  content: '\e646';
}

.icon-fengxianbaogao:before {
  content: '\e607';
}

.icon-fengxianguankongqingdan:before {
  content: '\e723';
}

.icon-zuidahua:before {
  content: '\e602';
}

.icon-yinhuanguanli:before {
  content: '\e61b';
}

.icon-yingjiguanli:before {
  content: '\e632';
}

.icon-anquanguanli:before {
  content: '\e696';
}

.icon-gongzuotai:before {
  content: '\e60a';
}

.icon-comcontrol:before {
  content: '\e600';
}

.icon-shujudaping:before {
  content: '\e742';
}
